@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-tooltip.punch-list-tooltip {
  font-weight: 600;
}
